build/iconlist.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google" value="notranslate">
    <meta name="format-detection" content="telephone=no">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/tablet.css" rel="stylesheet" media="(min-width: 768px)">
    <link href="css/desktop-min.css" rel="stylesheet" media="(min-width: 1024px)">
    <link href="css/desktop.css" rel="stylesheet" media="(min-width: 1366px)">
    <link href="css/desktop-big.css" rel="stylesheet" media="(min-width:1440px)">
    <link href="css/desktop-fullhd.css" rel="stylesheet" media="(min-width:1920px)">
    <title>Страница иконок</title><!--[if lte IE 9]>
    <script src="js/html5shiv/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <ul>
      <li><i class="b-icon icon-.DS_Store"> .icon-.DS_Store</i></li>
      <li><i class="b-icon icon-account"> .icon-account</i></li>
      <li><i class="b-icon icon-_download"> .icon-_download</i></li>
      <li><i class="b-icon icon-arrow-down"> .icon-arrow-down</i></li>
      <li><i class="b-icon icon-arrow-left"> .icon-arrow-left</i></li>
      <li><i class="b-icon icon-arrow-right"> .icon-arrow-right</i></li>
      <li><i class="b-icon icon-business"> .icon-business</i></li>
      <li><i class="b-icon icon-card-arr"> .icon-card-arr</i></li>
      <li><i class="b-icon icon-conversation"> .icon-conversation</i></li>
      <li><i class="b-icon icon-card-plus"> .icon-card-plus</i></li>
      <li><i class="b-icon icon-delivery-box"> .icon-delivery-box</i></li>
      <li><i class="b-icon icon-download"> .icon-download</i></li>
      <li><i class="b-icon icon-download2"> .icon-download2</i></li>
      <li><i class="b-icon icon-filter"> .icon-filter</i></li>
      <li><i class="b-icon icon-innovation"> .icon-innovation</i></li>
      <li><i class="b-icon icon-logo"> .icon-logo</i></li>
      <li><i class="b-icon icon-mass-production"> .icon-mass-production</i></li>
      <li><i class="b-icon icon-menu-arr"> .icon-menu-arr</i></li>
      <li><i class="b-icon icon-mobile-arr"> .icon-mobile-arr</i></li>
      <li><i class="b-icon icon-more"> .icon-more</i></li>
      <li><i class="b-icon icon-next"> .icon-next</i></li>
      <li><i class="b-icon icon-ok"> .icon-ok</i></li>
      <li><i class="b-icon icon-prev"> .icon-prev</i></li>
      <li><i class="b-icon icon-route"> .icon-route</i></li>
      <li><i class="b-icon icon-send-popup"> .icon-send-popup</i></li>
      <li><i class="b-icon icon-send"> .icon-send</i></li>
      <li><i class="b-icon icon-sort"> .icon-sort</i></li>
      <li><i class="b-icon icon-sorting"> .icon-sorting</i></li>
      <li><i class="b-icon icon-tax"> .icon-tax</i></li>
      <li><i class="b-icon icon-tech"> .icon-tech</i></li>
      <li><i class="b-icon icon-up"> .icon-up</i></li>
    </ul>
  </body>
</html>

src/iconlist.pug
//- Используем стандартный шаблон
extends ./template/index_layout

//- Модифицируем head
block head
    - var pageTitle = 'Страница иконок';

//- Выводим контент
block content
    ul
    
        li
            i(class="b-icon icon-.DS_Store")  .icon-.DS_Store
    
        li
            i(class="b-icon icon-account")  .icon-account
    
        li
            i(class="b-icon icon-_download")  .icon-_download
    
        li
            i(class="b-icon icon-arrow-down")  .icon-arrow-down
    
        li
            i(class="b-icon icon-arrow-left")  .icon-arrow-left
    
        li
            i(class="b-icon icon-arrow-right")  .icon-arrow-right
    
        li
            i(class="b-icon icon-business")  .icon-business
    
        li
            i(class="b-icon icon-card-arr")  .icon-card-arr
    
        li
            i(class="b-icon icon-conversation")  .icon-conversation
    
        li
            i(class="b-icon icon-card-plus")  .icon-card-plus
    
        li
            i(class="b-icon icon-delivery-box")  .icon-delivery-box
    
        li
            i(class="b-icon icon-download")  .icon-download
    
        li
            i(class="b-icon icon-download2")  .icon-download2
    
        li
            i(class="b-icon icon-filter")  .icon-filter
    
        li
            i(class="b-icon icon-innovation")  .icon-innovation
    
        li
            i(class="b-icon icon-logo")  .icon-logo
    
        li
            i(class="b-icon icon-mass-production")  .icon-mass-production
    
        li
            i(class="b-icon icon-menu-arr")  .icon-menu-arr
    
        li
            i(class="b-icon icon-mobile-arr")  .icon-mobile-arr
    
        li
            i(class="b-icon icon-more")  .icon-more
    
        li
            i(class="b-icon icon-next")  .icon-next
    
        li
            i(class="b-icon icon-ok")  .icon-ok
    
        li
            i(class="b-icon icon-prev")  .icon-prev
    
        li
            i(class="b-icon icon-route")  .icon-route
    
        li
            i(class="b-icon icon-send-popup")  .icon-send-popup
    
        li
            i(class="b-icon icon-send")  .icon-send
    
        li
            i(class="b-icon icon-sort")  .icon-sort
    
        li
            i(class="b-icon icon-sorting")  .icon-sorting
    
        li
            i(class="b-icon icon-tax")  .icon-tax
    
        li
            i(class="b-icon icon-tech")  .icon-tech
    
        li
            i(class="b-icon icon-up")  .icon-up
    
